* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.header-buttons{
  display: flex;
  gap: 1rem;
}

.header-button{
  font-size: 1.4rem;
}

.home-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.card{
  color: #242424;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 5px;
}

.card img{
  width: 6rem;
  height: 6rem;
}

.text-card{
  display: flex;
  gap: 1rem;
}

.rating{
  font-weight: 100;
}

.card button{
  padding: 0.6rem 1.4rem;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
}

.amount-manager{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cart-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.delete-item{
  color: red;
}

.cart-image{
  width: 6rem;
  height: 6rem;
}

.cart-amount-manager{
  display: flex;
  align-items: center;
  gap: 10px;
}